<main class="container">
	<section class="row my-4">
		<h1 class="col-md-12 text-center">{{ title }}</h1>
		<h2 class="col-md-12 text-center">Seleccione la figura que desea crear</h2>
    </section>
    
    <section class="row">
        <button class="btn btn-dark-brown  text-light col-md-2 mx-auto" *ngFor="let figura of arrFigurasDisponibles" (click)="crearFigura(figura)">{{figura}}</button>
    </section>


    <table class="table text-center my-4">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let figura of arrInfoFigurasCreadas; index as i">
                <td>{{ figura }}</td>
                <td>
                    <button class="btn btn-dark-brown  text-light" (click)="cambiarColor(i)">Cambiar color</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>