<main class="container">
	<section class="d-flex flex-column">
		<h1 class="py-3 text-center">{{ title }}</h1>
	</section>

	<section class="d-flex flex-column mt-4 mb-5">
		<h3 class="pb-4 text-center">Patrones Creacionales</h3>
		<div class="d-flex flex-row justify-content-around">
			<button class="btn btn-dark-brown  text-light text-light" *ngFor="let patron of arrPatronesCreacionales | keyvalue" [routerLink]="[ patron.value ]">
				{{ patron.key }}
			</button>
		</div>
	</section>

	<section class="d-flex flex-column mt-1 mb-5">
		<h3 class="pb-4 text-center">Patrones Estructurales</h3>
		<div class="d-flex flex-row justify-content-around">
			<button class="btn btn-dark-brown  text-light text-light" *ngFor="let patron of arrPatronesEstructurales | keyvalue" [routerLink]="[ patron.value ]">
				{{ patron.key }}
			</button>
		</div>
	</section>

	<section class="d-flex flex-column mt-1 mb-5">
		<h3 class="pb-4 text-center">Patrones Comportamiento</h3>
		<div class="d-flex flex-row justify-content-around flex-wrap">
			<button class="btn btn-dark-brown  text-light text-light m-2" *ngFor="let patron of arrPatronesComportamiento | keyvalue" [routerLink]="[ patron.value ]">
				{{ patron.key }}
			</button>
		</div>
	</section>
</main>

<router-outlet></router-outlet>